* {
    box-sizing: border-box;
    margin: 0;
  }
  .moveButtons {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
  }
  #button {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 300px;
    margin: auto;
  }
  #right-left-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  #right-left-buttons > * {
    width: 100px;
    height: 100px;
  }
  .basic {
    background-image: url("https://play-lh.googleusercontent.com/S9ZmNx5LYCj7h2IJZb0QqkXAGki6JRaMQ25ycKfrngDkNBA6jk7rM87YcAH1prV_OA");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .startButton {
    width: 100px;
    padding: 20px 10px;
    opacity: 0.5;
    background-color: aliceblue;
    border-radius: 30px;
  }
  .startButton-lvl {
    width: 150px;
    padding: 20px 10px;
    opacity: 0.5;
    background-color: aliceblue;
    border-radius: 30px;
  }
  #score{
    font-size: 30px;text-align: center;align-content: center;
  }
  #back-button{
        position: absolute;transform: translate(-250px);border-radius: 20px;font-size: 30px;
  }